html{
    box-sizing: border-box;
    margin: 0;
}
body{
    box-sizing: inherit;
}
section {
    direction: rtl;
    height: 100%;
    border: 2px solid black;
    background-color: rgb(207, 99, 56);
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 13% 80% 7%;
    grid-auto-columns: repeat(12, 1fr)
}

header {
    grid-column: span 12;
    border: 2px solid black;
    font-family: 'UnifrakturCook', cursive;
    font-size: x-large;
}

aside {
    grid-column: span 2;
    border: 2px solid black;
    font-family: 'New Rocker', cursive;
    float: right;
}

main {
    background-image: url("view.jpg");
    grid-column: span 10;
    border: 2px solid black;
    font-family: 'Pirata One', cursive;
}

footer {
    grid-column: span 12;
    border: 2px solid black;
    font-family: 'UnifrakturMaguntia', cursive;
}

a>img {
    height: 50px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

main>img {
    height: 30%;
    resize: both;
    margin: 15px;
    /* border: tomato solid 10px; */
}

.rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  #screen_shot{
      min-width: 100px;
      padding: 2remd;
      outline: none;
      border: none;
  }
  #screen_shot:hover{
      transform: translateY(-5px);
      box-shadow: 2px 2px 3px black;
  }